header, nav, main, footer
{
    display: block;
}



footer
{
    color:white;
    background-color: dimgray;
    height: 50px;
    width: 100%;
    float: left;
    clear:both;
}




header
{
    position: relative;
}
